.search-container
  display: flex
  align-items: center
  border: 1px solid #e0e0e0
  border-radius: 4px
  width: 220px
  height: 36px
  padding: 0 12px
  background-color: white

.search-input
  border: none
  flex-grow: 1
  height: 100%
  outline: none
  padding-left: 8px
  font-size: 14px

.search-icon
  color: rgba(0, 0, 0, 0.54)
  font-size: 18px
  height: 18px
  width: 18px

.search-form-field
  width: 220px
  margin: 0
